/* раздел header */

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px;
}
.menu__list {
    display: flex;
    gap: 32px;
    list-style: circle;
}

.menu__item {
    list-style: circle;
}

.menu__item_no-bullit {
    list-style: none;
}

.menu__link {
    font-size: 18px;
    text-underline-offset: 4px;
}

.menu__link.active {
    text-decoration: none;
}

.logo {
    display: block;
    width: 148px;
}

.logo__image {
    width: 100%;
}

.address {
    font-size: 18px;
    font-style: normal;
    line-height: 1.35;
    justify-self: end;
    max-width: 240px;
}

.address__link {
    text-underline-offset: 4px;
}

/*раздел main ОНО ТЕБЕ НАДО*/
.cover {
    margin-bottom: 180px;
    padding: 140px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cover__title {
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: bold;
    line-height: 1.15;
    color: white;
}

/*ОНО ТЕБЕ НАДО*/

.aligned-text {
    margin-top: 30px;
    display: block;
    letter-spacing: 0.3em;
    margin-bottom: 48px;
}

.aligned-text_center {
    text-align: center;
    margin-left: 30px;
    margin-top: -30px;
}

.aligned-text_right {
    text-align: right;
    letter-spacing: 0.27em;
    margin-top: -30px;
}
.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    margin-top: 105px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 78px;
}

.cover__description-text {
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    word-spacing: 18px;
}

.bet-button {
    padding: 12px 32px;
    border: 1px solid white;
    background: transparent;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
}

/* раздел с лотами */
.lots {
    margin-bottom: 180px;
    padding: 0 20px;
}

.lots__heading {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 27px;
    margin-left: 40px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
    list-style: none;;
}
.lots__card-list-item {
    flex: 1;
    min-height: 450px;
}
.card-link {
    text-decoration: none;
    color: white;
    display: block;
    height: 100%;
}
.card {
    position: relative;
    height: 100%;
    padding: 65px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
}
.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    margin-top: -15px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    z-index: 2;
    line-height: 1.2;
}
.card__text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    z-index: 2;
    line-height: 1.2;
}
.lots__look-more-link {
    font-size: 20px;
    margin-left: 40px;
    text-underline-offset: 5px;
}

/* раздел об аукционе */
.about {
    margin-bottom: 180px;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 290px 1fr;
    gap: 25px;
}
.about__column {
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.about__logo {
    width: 240px;
    height: 240px;
    background: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -25px 0 0 20px;
}
.about__logo-image {
    width: 148px;
}
.about__title {
    margin: 70px 0 100px 0;
    margin-bottom: 100px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}
.about__text {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;
}

/* раздел footer */
.footer {
    display: grid;
    padding: 0px 50px 90px;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    gap: 140px;
    text-underline-offset: 3px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.footer__social-list {
    display: flex;
    gap: 50px;
    justify-content: end;
    list-style: none;
}
.footer__social-icon {
    width: 48px;
    height: 48px;
}